*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'gill sans', 'Arial Narrow', Arial, sans-serif;
}

html{
    font-size: 62.5%;
}


body{
    font-size: 16px;
    background-color: rgba(255, 250, 233, 1);
}



/*----------------------------------reusable variable----------------------- */


:root{

--heading-- : rgba(25, 22, 35, 1);
--purple--: rgba(102, 55, 238, 1);
--button--: rgba(253, 95, 14, 1);
--small-fonts--:clamp(1.4rem,2vw,2rem);
--light-gray: rgba(102, 98, 112, 1);


}


/*----------------------------------reusable variable----------------------- */













/* ---------------------------------- navbar----------------------- */

.header{
    width:100%;
    
}

.navbar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    gap:1rem;
    margin-top: 2.7rem;
}

.right-nav{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    gap:0.3rem;
    font-size: var(--small-fonts--);
}

.middle-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: var(--small-fonts--);
    color: var(--light-gray);
}



.hamburgere{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 9999999999;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

.active .bar{
    position: absolute;
    background: #ffffff;
}

.bar{
    /* position: absolute; */
    width:85%;
    height:0.2rem;
    background: #000000;
}

/* ---------------------------------- navbar----------------------- */


/* ---------------------------------- hero----------------------- */
.hero{
    max-width: 100%;
    padding: 7rem 0rem;
}


.hero-section{

    max-width: 90%;
    margin:0 auto;
    
}

.hero-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2%;
}

.hero-cont>img{
    width: 100%;
    object-fit: cover;
   

}

.push{
    margin-top: 15%;
    border-radius: 1.2rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    gap:1.7rem;
}

.hero-title{
    font-family:'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: clamp(3.5rem,6vw,12.4rem);
    width:70%;
    
}

.sub-hero-desc{
    
    font-Weight:400;
    font-Size:clamp(1.4rem,1.4vw,1.9rem);
    Line-height:2.8rem;
    width:70%;
    color: rgba(102, 98, 112, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-hero{
    width:65%;
    margin-top: 3%;
    padding:2% 1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap:4%;
    white-space: nowrap;
}

.search-hero>*{
    /* display: none; */
    
    border-radius: 0.6rem;
    padding: 1vw;
    font-Size:clamp(1.5rem,1.2vw,1.9rem);
    color: var(--light-gray);
}

.left_sign-hero{
    background-color: var(--button--);
    color: #ffffff;
}

/* ----------------------------------hero----------------------- */

/* ----------------------------------stats-section----------------------- */

.stats-number-cont{
    width: 100%;
    padding: 9rem 0rem;
    background: var(--purple--);
    color: #ffffff;
}

.number-section{
    max-width: 90%;
    min-width: 90%;
    margin: 0 auto;
}

.upper-stats-number{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 4%;
    row-gap: 3rem;
    flex-wrap: wrap;
}

.upper-stats-number>*{
    flex: 1;
    min-width: 350px;
    line-height: 2;
}


.stats-title{
    font-size: clamp(3.7rem,3.8vw,6rem);
}

.stats-para-cont{
    color: rgba(255,255,255,1);
    font-size: var(--small-fonts--);
}

.stats-para-cont>.stats-para-second{
    margin-top: 2rem;
}

.lower-stats-number{
    display: flex;
    justify-content: space-around;
    margin-top:9% ;
    font-size: clamp(2rem,2.5vw,5.4rem);
    flex-wrap: wrap;

}





/* ----------------------------------stats-section----------------------- */



/* ----------------------------------solution-section----------------------- */



.solutions-cont{
    max-width: 100%;
    padding:7rem 0rem;
}

.section-solution{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    column-gap:6%;
    row-gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.right-solution{
    flex:1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    z-index:100;

}

.overlapping-sol-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background:  #ffffff;
    border-radius: 5px;
    padding: 1.8rem 4rem;
    row-gap: 3%;
    margin-left: -10rem;
    margin-bottom: -10rem
    /* translate: -3rem 8.556667786781rem; */
    

}

.overlapping-sol-card>img{
    margin: 0 auto;
}

.solution-image{
    max-width: 76%;
    
    
}




.overlapping-btn{
    padding:1vw 2.5vw;
    background-color: var(--purple--);
    color: #ffffff;
    margin-top: 2rem;
    border-radius: 7px;
}







.left-solution{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap:1.5rem;
    min-width: 339px;
    
}

.solution-title{
    font-size: clamp(2.6rem,4.8vw,5.5rem);
    line-height: 1.2;
   
}

.left-sol-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: var(--small-fonts--);
    line-height: 1.4;
    color:var(--light-gray)
}

.left-solution>button{
    margin-top: 1.7rem;
   max-width: fit-content;
   padding: 1.7rem 3rem;
   font-size: var(--small-fonts--);
   border-radius: 6px;
   color: #ffffff;
   background: var(--button--);
}









/* ----------------------------------solution-section----------------------- */




/* ----------------------------------video-section----------------------- */

.video-cont{
    width: 100%;
    padding: 3rem 0rem;
}

.video-section{
    max-width: 90%;
    margin:0 auto;
    text-align: center;
}

.video-title{
    font-size: clamp(2.7rem,4vw,6rem);
    margin-bottom: 2vh;
}

.video-para{
    font-size: clamp(1.4rem,1.2vw,2rem);
    max-width: 27%;
    margin: 0 auto;
    line-height: 1.4;
    color: var(--small-fonts--);
}

.video-wrapper{
    max-width:90%;
    height:60vh;
    margin: 0 auto;
    margin-top: 6vh;
}

.video-wrapper>*{
    width: 100%;
    height: 100%;
}


/* ----------------------------------video-section----------------------- */



/* ----------------------------------ready-to-find-section----------------------- */

.ready-to-find-cont{
    width: 100%;
    padding: 5rem 0rem;
}

.ready-section{
    gap:10vw;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ready-left{
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap:1.5vw;
}

.ready-left>img{
  max-width: 100%;
  object-fit: cover;
}


.ready-right{
    flex:1 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3vw;
}

.ready-right>h1{
    font-size: clamp(2.7rem,3.5vw,5.7rem);
    
}

.ready-right>p{
    font-size: var(--small-fonts--) ;
    line-height: 1.4;
    max-width: 90%;
}

.ready-btn-cont{
    display: flex;
    flex-wrap: wrap;
    gap:3vw;
}

.ready-btn{
    margin-top: 1vw;
    padding: 1.7vw 3vw;
    font-size: var(--small-fonts--);
    border-radius: 6px;
    color: #ffffff;
    background: var(--button--);
}

.ready-contact{
    background-color: var(--purple--);
}

/* ----------------------------------ready-to-find-section----------------------- */



/* ----------------------------------footer-section----------------------- */


.footer{
    width:100%;
    padding: 2rem 0rem;
}

.footer-container{
    max-width: 90%;
    margin: 0 auto;
    
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
     gap:clamp(2rem,3vw,5rem);
     padding: 5rem 0rem;
}

.footer-detail-para{
    max-width: 97%;
    line-height: 1.4;
    font-size: var(--small-fonts--);
    padding: 2rem 0rem;
}


.center>h2{
    margin-bottom: clamp(1.7rem,1vw,2.4rem);
    font-size: clamp(1.5rem,2.5vw,2.4rem);
}


.footer-grid li{
    margin-bottom: 1vw;
    font-size: clamp(1.45rem,1.5vw,1.9rem);
}

.footer-details-email{
    padding-right:1vw ;
}

.center input{
    padding: 1rem 0rem;
    text-align: center;
    font-size: var(--small-fonts--);
    background-color: transparent;
}

.center button{
background-color: var(--button--);
 padding: .9rem 2rem;
 font-size:var(--small-fonts--) ;
 color: #ffffff;
}




/* ----------------------------------footer-section----------------------- */















/* ----------------------------------popular-property-section----------------------- */

@media (max-width:800px){


    /* html{
        font-size: 59%;
    } */
    
      body{
        font-size: 1.4rem;
      }


      .middle-nav{
        position:fixed;
        flex-direction: column;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.941);
        width: 80%;
        height:100%;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        transform:translateX(1000%);
        transition: translate .9s;
        z-index:112;

      }
      
      
      .toggle{
        transform:translateX(0%);
      }

      .bar-1{
         transform:rotate(45deg);
      }

      .bar-2{
        opacity:0;
        transition: opacity 0.4s;
        transform:translateX(100%);
      }

      .bar-3{
        transform:rotate(-45deg);
      }
       




      .hamburgere{
          display: flex;
      }


    .hero-title{
        width: 100%;
    }
    .sub-hero-desc{
        width: 100%;
    }

    .search-hero{
        width: 100%;
    }

    .search-hero{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        padding: 1rem;
        justify-content: space-between;
        gap: 2rem;
    }

    .search-hero>*{
        padding: 2rem;
    }
    

    .lower-stats-number{
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;

    }



    .video-para{
        max-width:100%;
    }


    .ready-section{
        flex-direction: column;
    }


    .ready-right{
        gap:7vw;
    }


    .email-footer-cont input{
       width:60%;
       margin-right: 1rem;
    }



  
    
}





@media (max-width:500px){

    .ready-btn-cont{
      flex-direction: column;
      align-items: flex-start;
    }

    .ready-btn-cont>*{
      padding: 3vw 5vw;
    }


    .center{
        text-align: left;
    }

   

}
